h2{background-color: blue; text-align: center;}
 ul{background-color:rgb(166, 236, 152); display: inline-block;margin-left: 600px;
padding: 50px;} 


table,tr,td,th{
    width: 100%;
border: 1px solid black;
background-color: rgb(218, 198, 208);
size: 400px;
text-align: center;
font-family :Arial, Helvetica, sans-serif;
text-indent: initial;

  
}
body{margin: 30px;
background-color: rgb(49, 43, 43);}
td {padding: 10px;}

div{
        background-color: rgb(241, 58, 95);
        text-align: center;
        font-weight: bolder;

}
header img{padding: 20px;
padding-left: 250px;}
img{padding: auto;
margin: 30px;}
#button {
background-color: rgb(255, 255, 255);
margin: auto;
margin-right: 200px;

}
#left{
    width: 30%;
    float: left;}
#righte{
    size:600px;
        width: 30%;
        float: right;
        background-color: rgb(221, 188, 188);
        font-size: large;
       margin-top: 30px;
       font-style:initial;
    }
 #center
 { width: 30%;
    float: center;} 

#Working {
    width: 25%;
    float: right;
        background-color: rgb(211, 172, 172);
        font-size: large;
    }
    #cookies{background-color: rgb(211, 172, 172);
        float: right;
        width: 60%;
        font-size: large;}
        #about{width: 60%;
        float: left;}
        #aboutP{width: 30%;
            float: right;
        background-color: rgb(145, 215, 218);
    padding-top: 10px;
margin-top: 30px;}
footer{clear: both;
    background-color: rgb(226, 213, 23);
text-align: center;}
a{color: rgb(223, 24, 24);}
/* background-color: rgb(218, 198, 208);} */
form{
border: rgb(9, 243, 98);
background-color:yellow;
width: 300px;
padding: 10px;

}

td:hover {
    background-color: yellow;
  }
 
  a:hover
  {color: rgb(138, 113, 105);}
  tr:hover
  {background-color: rgb(9, 243, 98);}

  #home{margin-left: 600px;
text-shadow: rgba(rgb(49, 196, 30), green, blue, alpha);
background-color: rgb(102, 240, 11);
font-weight:900;
font-size: 20pt;}
form{margin-left: 500px;}